# Node modules
node_modules/

# Prisma generated client
/src/generated/prisma/
/prisma/.prisma/

# Environment
.env

# Logs & temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS files
.DS_Store
Thumbs.db
